/* import the required JSAPI css */
// @import url('https://js.arcgis.com/4.12/esri/css/main.css');

.esri-view {
  height: 100vh;
}

.label {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.full-w {
  width: 100%;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.police {
  position: absolute;
  color: blue;
  background-color: blue;
  border-width: 0;
  bottom: 350px;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.log-out {
  position: absolute;
  bottom: 300px;
  right: 30px;
  height: 20px;
  width: 70px;
  border-width: 0;
  color: black;
  background-color: lightblue;
}

.last-search {
  position: absolute;
  bottom: 30px;
  left: 20px;
  height: 20px;
  width: 600px;
  border-width: 0;
  color: black;
  background-color: lightblue;
}
